<header>
        <list>
            <ul>
                <li class="w65">
                    <i class="fa-solid fa-snowflake"></i>
                    Aquaweather
                    <i class="fa-solid fa-snowflake"></i>
                    </li>
                 <li class="w10"><a href="/">Home</a></li>
                  <li  class="w10"><a href="/weather">Weather</a></li>
                   <li class="w10"><a>About</a></li>
            </ul>
        </list>
</header>